SCRAM-SHA-224(-PLUS) + SCRAM-SHA-384(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @ongres team,

After:
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS

Can you add supports of :
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC 9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/ongres/scram/issues/2
- https://github.com/ongres/scram/issues/8
- https://github.com/ongres/scram/issues/9
- https://gitlab.com/ongresinc/scram/-/issues/15
- https://gitlab.com/ongresinc/scram/-/issues/17
- https://gitlab.com/ongresinc/scram/-/issues/18
- https://github.com/scram-sasl/info/issues/1

Dear @ongres team,

Have you progressed on it?

A lot of projects, softwares use other SCRAM, you can see the list here:
- https://github.com/scram-sasl/info/issues/1

There is a ticket here too from @rrva:
- https://gitlab.com/ongresinc/scram/-/issues/15

While is technically possible and easy to add the `SHA-224` and `SHA-384` variants they don't have an RFC published, not even on draft, so they are not going to be added as their use would be limited anyway.

For `SHA3-512`, sadly Java doesn't yet have support in [SecretKeyFactory](https://docs.oracle.com/en/java/javase/21/docs/specs/security/standard-names.html#secretkeyfactory-algorithms) for **`PBKDF2WithHmacSHA3-512`** maybe because it follows the algorithms from the [RFC 8018](https://datatracker.ietf.org/doc/html/rfc8018), and that RFC still doesn´t have an update with `SHA3-*` algorithm family, so it can't be added right now, but it could be considered in the future if there is more demand for this.
```
jshell> javax.crypto.SecretKeyFactory.getInstance("PBKDF2WithHmacSHA3-512");
|  Exception java.security.NoSuchAlgorithmException: PBKDF2WithHmacSHA3-512 SecretKeyFactory not available
|        at SecretKeyFactory.<init> (SecretKeyFactory.java:118)
|        at SecretKeyFactory.getInstance (SecretKeyFactory.java:164)
|        at (#3:1)
```

`SHA-512` will be added in the next major version 3.0

@jorsol: It has been solved?

> @jorsol: It has been solved?

SHA3-512 variants are not present as mentioned in an earlier comment.

@jorsol: Good job about 3.0!
- https://github.com/ongres/scram/releases/tag/3.0

Important to specify in the ticket where it has been added.

I will edit the title and create a new ticket for SCRAM-SHA3-512 and SCRAM-SHA3-512-PLUS for the future...